.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.error {
  border: red 1px solid ;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.todolist {
  border: 2px solid green;
  /*background-color: #E3DFF0;*/
  border-radius: 5px;
  padding: 15px;
  max-width: 250px;
}